{% extends "inicio/inicio.html" %}
{% load static %}
{% block cuerpo%}

<div class="  centrado_img">
     <div class="col-xl-3 col-md-4">
            <div class="card text-black mb-4 card-body_profile centrado">
                <div class="card-ruta_profile centrado">
                         <img class="tamno_profile navbar-logo-img " src="{% static 'assets/images/perfilfoto.png' %}" alt="">
                </div>
                <br>
                <br>

           <div class="card-ruta_id centrado">

                <div class="color_font"><strong>Usuario: </strong>{% if request.user.is_authenticated %}{{ request.user.username }}
                                                                    {% endif %}</div>
                    </div>
                <br>
            <div class="card-ruta_id centrado">

                <div class="color_font"><strong>Correo: </strong>{% if request.user.is_authenticated %}{{ request.user.email }}
                                                                    {% endif %}</div>
                    </div>
                <br>

            </div>
        </div>

</div>
{%endblock%}