<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Web diseñasa por programadores de la USB-CALI" name="author">
  <title>MyBusTracker</title>
<link  rel="shortcut icon"   href="{% static 'img/Iconomio2.png'%}" type="image/png" />
<link rel="stylesheet" href="{% static 'index.css'%}">

</head>

<body> <!-- Add your content of header -->
<header>
  <nav class="navbar navbar-default active">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'inicio' %}" title="">

         <img class="tamno_bus navbar-logo-img" src="{% static 'assets/images/iconotracker.png' %}" alt="">
          <b><i>myBusTracker</i></b>
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'perfil'%}" title="">Perfil</a></li>
          <li><a href="{% url 'informacion'%}" title="">Información rutas</a></li>
          <li><a href="{% url 'covid'%}" title="">Autocuidado covid-19</a></li>
          <li><a href="{% url 'busqueda'%}" title="">Buscar rutas</a></li>


          <li>
            <p>
              <a href="{% url 'logout_vista' %}" class="btn btn-default navbar-btn" title="">Cerrar sesion</a>
            </p>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>
{%block cuerpo%}

<div class="section-container">
<div class="contenedor_login container">
 {% if request.user.is_authenticated %}Welcome  '{{ request.user.email }}''{{ request.user.username }}' '{{ request.user.name }}'
{% endif %}
  <iframe style="position: absolute; top: -9999em; visibility: hidden;" allowTransparency="true" scrolling="no" onload="window.parent.scrollTo(0,0); this.style.position='static'; this.style.visibility='visible';" src="https://moovitapp.com/cali-1462/lines/en?customerId=4908&ref=2&poiType=line" width="620" height="620" class="col-xs-12" frameborder="0"></iframe>
</div>
</div>
{%endblock%}




<footer class="footer-container white-text-container">
  <div class="container">
    <div class="row">


      <div class="col-xs-12">
        <h3>MyBusTracker</h3>

        <div class="row">

          <div class="col-xs-12 col-sm-7">
            <p><small>Web creada por Juan Sebastian Bolaños - Samuel Martinez<a href="http://www.mashup-template.com/" title="Create website with free html template"></a></small>
            </p>
          </div>
          <div class="col-xs-12 col-sm-5">
            <p class="text-right">
              <a href="https://github.com/xsebasb/MyBusTracker/" class="social-round-icon white-round-icon fa-icon" title="">
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
              <a href="https://twitter.com/" class="social-round-icon white-round-icon fa-icon" title="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="https://www.linkedin.com/" class="social-round-icon white-round-icon fa-icon" title="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </p>

          </div>
        </div>


      </div>
    </div>
  </div>
</footer>
</body>
</html>