<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {% block contenido %}
          {% if Bus %}
            {% for x in Bus %}
                <div class="post-preview">
                  <a href="{% url 'bus:detalle_post' x.slug %}">
                    <h2 class="post-title">
                      {{ x.buses }}
                    </h2>
                  </a>
                </div>
        </div>
      </div>
    </div>
                <hr>
            {% endfor %}
          {% else %}
            <h1>No existen post registrados!</h1>
          {% endif %}
          {% endblock contenido %}
</body>
</html>