<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
   <link rel="stylesheet" href="{% static 'app.css'%}">
    <link rel="stylesheet" href="{% static 'normalize.css'%}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap" rel="stylesheet">
   {%block titulo%}
    <title>Registro</title>
    {%endblock%}
</head>
<body>

    <form class="contenedor " action="" method="POST">
        <div class="centrar">
        {% csrf_token %}
        {{formulario.as_p}}
        <button class="btn_register" type="submit">Registrarse</button>
            </div>
    </form>

</body>
</html>