<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
  <div class="container">
        <div class="row">
          <div class="col-md-12 search">
            <form method="get">
                <div id="custom-search-input">
                  <div class="input-group col-md-12">
                    <input type="text" class="form-control" placeholder="Buscar..." name="buscar">
                    <span class="input-group-list">
                      <i class="icon icon-search"></i>
                      <button type="submit" class="boton btn-success">Buscar</button>
                    </span>
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>
</body>
</html>